body {
  font-family: 'Tahoma', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #393939; 
  color: #ffffff; 
  transition: background-color 0.3s ease;
  scroll-behavior: smooth; /* Smooth scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222; 
  transition: background-color 0.3s ease;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  color: #ffffff; 
  margin-bottom: 20px;
  text-align: center;
  text-transform: none;
  letter-spacing: 2px;
}

.logo {
  width: 200px;
  height: 200px;
  font-size: 18px;
  border-radius: 70px;
  font-weight: normal;
  transition: transform 0.3s ease;
  background-color: #ecf0f1; 
}

.logo:hover {
  transform: scale(1.1);
}

.main-container {
  display: flex;
  margin-top: auto;
}

.sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  background-color: #393939; /* Same as chat-area */
  border-right: 1px solid #222; /* Thin darker grey outline on right edge */
  color: #fff;
  padding: 10px;
  height: 100vh; /* Make sidebar flush with header */
  margin-top: 0; /* Remove margin to make it flush with header */
  margin-bottom: 0; /* Remove margin to make it flush with footer */
  left: 0;
}

.sidebar h2 {
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.quit-button {
  background-color: transparent; /* Transparent background */
  color: #727070; /* Darker grey text */
  border: 1px solid #727070; /* Darker grey border */
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 10%;
  margin-bottom: auto;
  margin-left: 20px;
  box-shadow: none; /* Remove box shadow */
  transition: all 0.3s ease-in-out;
}

.quit-button:hover {
  background-color: rgba(119, 119, 119, 0.1); /* Slightly visible on hover */
  transform: scale(1.05);
}

.quit-button:active {
  transform: scale(0.95);
}

#quit-prompt {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 1000;
}

#quit-prompt p {
  margin: 0 0 10px;
  color: #222;
}

#quit-prompt button {
  margin-right: 10px;
}

.redirection-button {
  background-color: transparent; /* Transparent background */
  color: #de222c;
  position: flex;
  border: 4px solid #de222c;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: none; /* Remove box shadow */
  transition: all 1.5s ease-in-out;
  margin-bottom: 20%;
}

.redirection-button:hover {
  background-color: rgba(12, 8, 7, 0.1); /* Slightly visible on hover */
  transform: scale(1.05);
}

.redirection-button:active {
  transform: scale(0.95);
}

.right-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height:90vh;
}

.header {
  display: flex;
  position: fixed;
  justify-content: right;
  justify-items: right;
  align-items: right;
  padding: 10px;
  background-color: #393939; /* Same as chat-area */
  color: #FFFFFF;
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #222; /* Thin darker grey outline on bottom edge */
}

.website-name h1 {
  font-size: 10px;
  font-weight: normal;
  margin-top: 20px;
  margin-right: 10%;
  text-align: right; /* Ensure text is justified to the left */
}

button {
  background-color: #222;
  color: #FFFFFF;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #FF8266;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #313131;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.login-form:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
  font-size: 18px;
  font-weight: normal;
  color: #de222c;
  margin-bottom: 20px;
}

.login-form label {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.login-form input[type="text"] {
  display: block;
  width: 80%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 14px;
  color: #333333;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

.login-form input[type="text"]:focus {
  border-color: #de222c;
}

.login-form button[type="submit"] {
  background-color: #761414;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.login-form button[type="submit"]:hover {
  background-color: #de222c;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8); /* Add transparency */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 1.2s ease;
  outline: none; /* Remove default focus outline */
}

.input-field:focus {
  background-color: rgba(255, 255, 255, 1); /* Remove transparency on focus */
}

.chat-area {
  background-color: #393939;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden; /* Prevent horizontal overflow */
  height: 85vh;
  margin-top: 15vh;
  margin-left: 190px;
  scroll-behavior: smooth; /* Smooth scrolling */
  flex-grow: 1;
}

.chat-messages-container {
  display: flex;
  flex-direction: column;
}

.chat-bubble {
  width: 60%;
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
  background-color: transparent; /* Completely transparent */
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.chat-bubble:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Slightly visible on hover */
}

.chat-bubble.user-message {
  margin-left: 20%; /* Slightly left of center */
  margin-right: auto; /* Ensure it doesn't go within 30% of the right side */
  border: 1px solid #444; /* Slightly darker border */
}

.chat-bubble.user-message:hover {
  border-color: #ffffff; /* Lighter border on hover */
}

.user-label {
  font-weight: bold;
  color: #888; /* Slightly darker than the user message font */
  margin-right: 10px; /* Space between label and message */
}

.chat-bubble.llm-message {
  margin-left: auto; /* Ensure it doesn't go within 30% of the left side */
  margin-right: 20%; /* Slightly right of center */
  border: 1px solid transparent; /* No border by default */
}

.chat-bubble.llm-message:hover {
  border-color: #ffffff; /* White border on hover */
}

.assistant-label {
  font-weight: bold;
  color: #888; /* Slightly darker than the assistant message font */
  margin-right: 10px; /* Space between label and message */
}

.chat-bubble p {
  margin: 0;
  line-height: 1.5; /* Space out text better */
}

.user-message {
  align-self: flex-end;
}

.llm-message {
  color: #ffffff;
  margin-left: auto;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: #393939; /* Darker background for input area */
  transition: all 1.6s ease; /* Update transition to apply to all properties */
  height: 5vh;
  color: #ffffff;
}

.text-input {
  flex-grow: 1;
  padding: 20px;
  margin-left: 190px;
  margin-top: auto;
  width: 25vw;
  outline: none; /* Remove the default blue outline */
  border: none;
  background-color: #5a5a5a; /* Darker background for text input */
  border-radius: 4px; 
  color: #ffffff; 
  font-size: 14px;
  transition: all 1.2s ease; /* Update transition to apply to all properties */
}

.text-input:focus {
  outline: none; /* Remove the default blue outline */
  border-radius: 30px;
  color: #222;
  background-color: #e4e4e4; /* Darker background for text input */
}

select {
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  color: #333333;
  font-family: sans-serif;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

select:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 5px);
  right: 10px;
  width: 10px;
  height: 10px;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  transform: rotate(45deg);
  pointer-events: none;
}

select:focus {
  outline: none;
}

select option {
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

select option:checked {
  background-color: #333333;
  color: #ffffff;
}

.loading {
  display: inline-block;
  width: 80px;
  height: 24px;
  text-align: center;
}

.loading span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  background-color: #f40000;
  border-radius: 100%;
  animation: loading 1.4s infinite ease-in-out both;
}

.loading span:nth-child(1) { animation-delay: -0.32s; }
.loading span:nth-child(2) { animation-delay: -0.16s; }

@keyframes loading {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1.0); }
}

/* Customize scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #333; /* Darker background for scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Darker thumb color */
  border-radius: 10px;
  border: 3px solid #333; /* Match track color */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777; /* Lighter thumb color on hover */
}