body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #393939; 
  color: #ffffff; 
  transition: background-color 0.3s ease;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease; /* Adjust the duration as needed */
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease; /* Ensure the transition matches */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222; 
  transition: background-color 0.3s ease;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  color: #ffffff; 
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
}

.logo {
  width: 300px;
  height: auto;
  font-size: 18px;
  border-radius: 7px;
  font-weight: normal;
  transition: filter 0.3s ease;
  background-color: none; 
  outline: none;
}

.logo:hover {
  filter: grayscale(100%);
}

.sphere {
  position: flex;
  width: "auto";
  height: 60px;
  margin-right: 0;
  margin-top: 10px;
  border-radius: 90%;
}

.loader-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.loader-placeholder img {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%;
  margin-right: 70%;
}

.main-container {
  display: flex;
  margin-top: auto;
}

.sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  background-color: #333333;
  border-right: 1px solid #222;
  color: #fff;
  padding: 10px;
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  left: 0;
}

.sidebar h2 {
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.quit-button {
  background-color: transparent;
  color: #727070;
  border: 1px solid #727070;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}

.quit-button:hover {
  background-color: rgba(119, 119, 119, 0.1);
  transform: scale(1.05);
}

.quit-button:active {
  transform: scale(0.95);
}

.finish-button {
  display: none;
  background-color: transparent;
  position: flex;
  color: #FFFFFF;
  border: none;
  padding: 45px 25px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.finish-button:hover {
  background-color: #FF8266;
  transform: scale(1.05);
}

.finish-button:active {
  transform: scale(0.95);
}

.command-button p {
  display: block;
  background-color: #222;
  position: flex;
  color: #FFFFFF;
  border: none;
  padding: 25px 25px;
  font-size: 14px;
  cursor: pointer;
  text-transform: none;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  top: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.command-button p:hover {
  background-color: #FF8266;
  transform: scale(1.05);
}

.command-button p:active {
  transform: scale(0.95);
}

.command-instructions {
  display: block;
  background-color: transparent;
  position: flex;
  color: #FFFFFF;
  border: none;
  padding: 25px 25px;
  cursor: pointer;
  text-transform: none;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

#quit-prompt {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 1000;
}

#quit-prompt p {
  margin: 0 0 10px;
  color: #222;
}

#quit-prompt button {
  margin-right: 10px;
}

#finish-prompt {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 1000;
}

#finish-prompt p {
  margin: 0 0 10px;
  color: #222;
}

#finish-prompt button {
  margin-right: 10px;
}

.redirection-button {
  display: none;
  background-color: #222;
  color: #ffffff;
  position: flex;
  border: 10px solid #de222c;
  padding: 130px 20px;
  cursor: pointer;
  text-transform: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: none;
  transition: all 1.5s ease-in-out;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.redirection-button:hover {
  background-color: rgba(12, 8, 7, 0.1);
  transform: scale(1.05);
}

.redirection-button:active {
  transform: scale(0.95);
}

.right-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height:90vh;
}

.header {
  display: flex;
  position: fixed;
  justify-content: right;
  justify-items: right;
  align-items: right;
  padding: 10px;
  background-color: #333333;
  color: #FFFFFF;
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #222;
}

.website-name h1 {
  font-size: 12px;
  font-weight: normal;
  margin-top: 20px;
  margin-right: 20%;
  text-align: right;
}

button {
  background-color: #222;
  color: #FFFFFF;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #FF8266;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #313131;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.login-form:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
  font-size: 18px;
  font-weight: normal;
  color: #de222c;
  margin-bottom: 20px;
}

.login-form label {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.login-form .input-field {
  display: block;
  width: 80%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 14px;
  color: #333333;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

.login-form .input-field:focus {
  border-color: #de222c;
}

.login-form button[type="submit"] {
  background-color: #761414;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.login-form button[type="submit"]:hover {
  background-color: #de222c;
}

.password-table {
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  max-height: 40vh;
  overflow-y: auto;
}

.password-table td, .password-table th {
  padding: 0 10px; /* Adjust the value as needed */
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 1.2s ease;
  outline: none;
}

.input-field:focus {
  background-color: rgba(255, 255, 255, 1);
}

.chat-area {
  background-color: #393939;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 85vh;
  margin-top: 10vh;
  margin-left: 280px;
  scroll-behavior: smooth;
  flex-grow: 1;
}

.chat-messages-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100%;
}

.chat-bubble {
  width: 60%;
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.chat-bubble:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.chat-bubble.user-message {
  margin-left: 20%;
  margin-right: auto;
  margin-top: 2%;
  border: 1px solid #444;
}

.chat-bubble.user-message:hover {
  border-color: #ffffff;
}

.user-label {
  font-weight: bold;
  color: #888;
  margin-right: 10px;
}

.chat-bubble.llm-message {
  margin-left: auto;
  margin-right: 20%;
  border: 1px solid transparent;
}

.chat-bubble.llm-message:hover {
  border-color: #ffffff;
}

.assistant-label {
  font-weight: bold;
  color: #888;
  margin-right: 10px;
}

.chat-bubble p {
  margin: 0;
  line-height: 1.5;
}

.user-message {
  align-self: flex-end;
}

.llm-message {
  color: #ffffff;
  margin-left: auto;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: #393939;
  transition: all 1.6s ease;
  height: 5vh;
  color: #ffffff;
}

.text-input {
  flex-grow: 1;
  padding: 20px;
  margin-left: 280px;
  margin-top: auto;
  width: 25vw;
  outline: none;
  border: none;
  background-color: #5a5a5a;
  border-radius: 4px; 
  color: #ffffff; 
  font-size: 14px;
  transition: all 1.2s ease;
}

.text-input:focus {
  outline: none;
  border-radius: 30px;
  color: #222;
  background-color: #e4e4e4;
}

select {
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  color: #333333;
  font-family: sans-serif;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

select:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 5px);
  right: 10px;
  width: 10px;
  height: 10px;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  transform: rotate(45deg);
  pointer-events: none;
}

select:focus {
  outline: none;
}

select option {
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

select option:checked {
  background-color: #333333;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 3px solid #333;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}