<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/static/images/IA.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" charset="UTF-8">
</head>
<body>
    <header class="header">
        <div class="Research-Dashboard-Header">
            <p>Wordie.AI</p>
            <h1>Research Dashboard</h1>
        </div>
    </header>
    <div class="main-container">
        <aside class="researcher-sidebar">
            <a href="{{ url_for('login') }}" class="special-back-button researcher-sidebar-content">Back to Login</a>
            <button class="researcher-sidebar-content" onclick="showForm('about')">About</button>
            <button class="researcher-sidebar-content" onclick="showForm('api-selection')">Select API</button>
            <button class="researcher-sidebar-content" onclick="showForm('agent-creation')">Create Agent Condition</button>
            <button class="researcher-sidebar-content" onclick="showForm('edit-passwords')">Create Agent Condition Password</button>
            <button class="researcher-sidebar-content" onclick="showForm('review-passwords')">Review Conditions</button>
            <button class="researcher-sidebar-content" onclick="showForm('download-section')">Download Data</button>
        </aside>
        <div class="right-container">
            <main id="about">
                <h2>About</h2>
                <p class="researcher-about">
                    The Wordie-AI Interface app is designed using the base platform chatPsych. <br>
                    This platform is open-source and available for research adaptions at
                    <a href="https://github.com/Oliver-Lack/chatPsych" target="_blank">chatPsych</a><br><br>
                    This research dashboard GUI is only a prototype.<br>
                <br>Prospective updates will include: <br>
                -> Some "general settings" to change models, selection of output as text, audio, audio&text. <br>
                -> An editor for the second interaction data capture (command-prompt/moral action button). <br>
                -> Some visuals and descriptive graphics for interaction data<br><br>
                    <strong> For the newest version of the interface visit the public repo:</strong><br>
                    <a href="https://github.com/Oliver-Lack/Wordie-AI" target="_blank">Wordie.AI</a><br><br>
                    <strong>For usage, questions or collaborations, please cite/acknowledge/contact: <br><br>
                        Oliver Lack.</strong><br>
                    <strong>Australian Institute for Machine Learning (AIML) | School of Psychology <br>
                        The University of Adelaide<br>
                        oliver.lack@adelaide.edu.au | oliver@oliverlack.com<br>
                        <a href="https://www.oliverlack.com" target="_blank">www.oliverlack.com</a></strong>
            </p>
            </main>
            <main id="api-selection" class="api-selection-section">
                <h2>Select API</h2>
                <button class="api-button" onclick="selectAPI('API_Call')">Use OpenAI (gpt-4o)</button>
                <button class="api-button" onclick="selectAPI('API_Call_2')">Use Anthropic (Claude 3.5 Sonnet)</button>
            </main>
            <main id="agent-creation" class="agent-creation-form">
                <h2>Create Agent Condition</h2>
                <form id="agent-form" class="agent-creation-form">
                    <label for="json-filename">JSON File Name:<br></label>
                    <input type="text" id="json-filename" name="json-filename" required>
                    <label for="preprompt"><br>PrePrompt (System Message):<br></label><br>
                    <textarea id="preprompt" name="PrePrompt" required></textarea><br>
                    <label for="model"><br>Model:</label><br>
                    <select id="model" name="model" required>
                         <option value="gpt-4o">OpenAI GPT-4o</option>
                         <option value="claude-3-5-sonnet">Anthropic Claude 3.5 Sonnet</option>
                         <option value="grok-2-latest">Grok-2</option>
                         <option value="gemini-2-0-flash">Gemini 2.0 Flash</option>
                         <option value="gemini-2-0-pro-exp-02-05">Gemini 2.0 Pro</option>
                    </select>
                    <input type="text" id="custom-model" name="custom-model" style="display:none;" placeholder="Enter model name">    
                    <label for="temperature"><br>Temperature <br><br><em>Temp transformation of logits can be set between 0-2 (OpenAI) or 0-1 (Anthropic):</em></label><br>
                    <input type="number" id="temperature" name="temperature" step="0.01" min="0" max="1" value="1" required><br>
                    <label for="top_p"><br>Top P <br><br><em>(default: 1. For example, 0.1 means only the tokens 
                        comprising the top 10% probability mass are considered):</em></label><br>
                    <input type="number" id="top_p" name="top_p" step="0.01" min="0" max="1" value="1" required><br>
                    <label for="n"> <br>N <br><br><em>default: 1. How many chat completion choices to generate for each input message:</em></label><br>
                    <input type="number" id="n" name="n" value="1" required><br>
                    <label for="presence_penalty"><br>Presence Penalty <br><br><em>default: 0. Number between -2.0 and 2.0. Positive values 
                        penalize new tokens based on whether they appear in the text so far:</em></label><br>
                    <input type="number" id="presence_penalty" name="presence_penalty" step="0.01" min="0" max="1" value="0" required><br>
                    <label for="frequency_penalty"><br>Frequency Penalty <br><br><em>default: 0. Number between -2.0 and 2.0. Positive values 
                        penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim:</em></label><br>
                    <input type="number" id="frequency_penalty" name="frequency_penalty" step="0.01" min="0" max="1" value="0" required><br>
                    <label for="max_completion_tokens"><br>Max Completion Tokens:</label><br>
                    <input type="number" id="max_completion_tokens" name="max_completion_tokens" min="1" value="10000" required><br>
                    <button type="button" onclick="createJsonFile()">Create JSON</button><br>
                </form>
                <pre id="json-output" style="background-color: #222; padding: 20px; color: #fff;"></pre>
            </main>
            <main id="edit-passwords">
                <h2>Edit Passwords for Agent Conditions</h2>
                <form id="edit-passwords-form">
                    <label for="agent"><br>Agent Condition:<br></label>
                    <select id="agent" name="agent" class="form-input" required></select>
                    <label for="password"><br>New Password:<br></label>
                    <input type="text" id="password" name="password" class="form-input" required>
                    <button type="button" class="form-button" onclick="updatePasswords()">Submit</button>
                </form>
            </main>
            <main id="review-passwords" class="password-inspection-palace">
                <h2>Review Conditions</h2>
                <table id="password-table">
                    <thead>
                        <tr>
                            <th>Agent</th>
                            <th>Password</th>
                            <th>File Content</th>
                        </tr>
                    </thead>
                    <tbody id="password-table-body"></tbody>
                </table>
            </main>
            <main id="download-section" class="data-download-section">
                <h2>Download Data</h2>
                <button class="download-button" onclick="downloadFile('interactions.json')">Download interactions.json</button>
                <button class="download-button" onclick="downloadFile('interactions_backup.csv')">Download interactions_backup.csv</button>
                <button class="download-button" onclick="downloadFile('download_log.json')">Download Log</button>
            </main>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/research_dashboard.js') }}"></script>
</body>
</html>