<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" charset="UTF-8">
</head>
<body>
    <header class="header">
        <div class="Research-Dashboard-Header">
            <p>Wordie.AI</p>
            <h1>Research Dashboard</h1>
        </div>
    </header>
    <div class="main-container">
        <aside class="researcher-sidebar">
            <a href="{{ url_for('login') }}" class="special-back-button researcher-sidebar-content">Back to Login</a>
            <button class="researcher-sidebar-content" onclick="showForm('about')">About</button>
            <button class="researcher-sidebar-content" onclick="showForm('agent-creation')">Create Agent Condition</button>
            <button class="researcher-sidebar-content" onclick="showForm('edit-passwords')">Create Agent Condition Password</button>
            <button class="researcher-sidebar-content" onclick="showForm('review-passwords')">Review Conditions</button>
            <button class="researcher-sidebar-content" onclick="showForm('download-section')">Download Data</button>
        </aside>
        <div class="right-container">
            <main id="about">
                <h2>About</h2>
                <p class="researcher-about">This research dashboard is the draft GUI to check and create agent conditions. This GUI is mainly
                    designed to help out researchers that don't want to dig deep into the code.<br>
                <br>Prospective updates will include: <br>
                -> Some "general settings" to change models, selection of output as text, audio, audio&text. <br>
                -> An editor for the second interaction data capture (command-prompt/moral action button). <br>
                -> Some visuals and descriptive graphics for interaction data<br><br>
                    <strong> For the newest version of the interface visit the public repo:</strong><br>
                    <a href="https://github.com/Oliver-Lack/Wordie-AI" target="_blank">Wordie.AI</a><br><br>
                    <strong>For usage, questions or collaborations, please cite/acknowledge/contact: <br><br>
                        Oliver Lack.</strong><br>
                    <strong>Australian Institute for Machine Learning (AIML) | School of Psychology <br>
                        The University of Adelaide<br>
                        oliver.lack@adelaide.edu.au | oliver@oliverlack.com<br>
                        <a href="https://www.oliverlack.com" target="_blank">www.oliverlack.com</a></strong>
            </p>
                
            </main>
            <main id="agent-creation" class="agent-creation-form">
                <h2>Create Agent Condition</h2>
                <form id="agent-form" class="agent-creation-form">
                    <label for="json-filename">JSON File Name:<br></label>
                    <input type="text" id="json-filename" name="json-filename" required>
                    <label for="preprompt"><br>PrePrompt (System Message):<br></label><br>
                    <textarea id="preprompt" name="PrePrompt" required></textarea><br>
                    <label for="model"><br>Model (gpt-4o):<br></label><br>
                    <input type="text" id="model" name="model" value="gpt-4o" required><br>
                    <label for="temperature"><br>Temperature <br><em>(default: 1. Temp transformation of logits can be set between 0-2):</em></label><br>
                    <input type="number" id="temperature" name="temperature" step="0.01" min="0" max="1" value="1" required><br>
                    <label for="top_p"><br>Top P <br><em>(default: 1. For example, 0.1 means only the tokens 
                        comprising the top 10% probability mass are considered):</em></label><br>
                    <input type="number" id="top_p" name="top_p" step="0.01" min="0" max="1" value="1" required><br>
                    <label for="n"> <br>N <br><em>(default: 1. How many chat completion choices to generate for each input message):</em></label><br>
                    <input type="number" id="n" name="n" value="1" required><br>
                    <label for="presence_penalty"><br>Presence Penalty <br><em>(default: 0. Number between -2.0 and 2.0. Positive values 
                        penalize new tokens based on whether they appear in the text so far):</em></label><br>
                    <input type="number" id="presence_penalty" name="presence_penalty" step="0.01" min="0" max="1" value="0" required><br>
                    <label for="frequency_penalty"><br>Frequency Penalty <br><em>(default: 0. Number between -2.0 and 2.0. Positive values 
                        penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim):</em></label><br>
                    <input type="number" id="frequency_penalty" name="frequency_penalty" step="0.01" min="0" max="1" value="0" required><br>
                    <button type="button" onclick="createJsonFile()">Create JSON</button><br>
                </form>
                <pre id="json-output" style="background-color: #222; padding: 20px; color: #fff;"></pre>
            </main>
            <main id="edit-passwords">
                <h2>Edit Passwords for Agent Conditions</h2>
                <form id="edit-passwords-form">
                    <label for="agent"><br>Agent Condition:<br></label>
                    <select id="agent" name="agent" class="form-input" required></select>
                    <label for="password"><br>New Password:<br></label>
                    <input type="text" id="password" name="password" class="form-input" required>
                    <button type="button" class="form-button" onclick="updatePasswords()">Submit</button>
                </form>
            </main>
            <main id="review-passwords" class="password-inspection-palace">
                <h2>Review Conditions</h2>
                <table id="password-table">
                    <thead>
                        <tr>
                            <th>Agent</th>
                            <th>Password</th>
                            <th>File Content</th>
                        </tr>
                    </thead>
                    <tbody id="password-table-body"></tbody>
                </table>
            </main>
            <main id="download-section" class="data-download-section">
                <h2>Download Data</h2>
                <button class="download-button" onclick="downloadFile('interactions.json')">Download interactions.json</button>
                <button class="download-button" onclick="downloadFile('interactions_backup.csv')">Download interactions_backup.csv</button>
                <button class="download-button" onclick="downloadFile('download_log.json')">Download Log</button>
            </main>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const activeForm = localStorage.getItem('activeForm') || 'about';
            showForm(activeForm);
            listJsonFiles();
            populateAgentDropdown();
            listPasswords();
        });
    
        function createJsonFile() {
            const form = document.getElementById('agent-form');
            const data = new FormData(form);
            const filename = data.get('json-filename').trim();
    
            if (!filename) {
                alert('Please enter a file name');
                return;
            }
    
            const jsonData = {
                "filename": filename,
                "PrePrompt": data.get('PrePrompt'),
                "model": data.get('model'),
                "temperature": parseFloat(data.get('temperature')),
                "top_p": parseFloat(data.get('top_p')),
                "n": parseInt(data.get('n')),
                "presence_penalty": parseFloat(data.get('presence_penalty')),
                "frequency_penalty": parseFloat(data.get('frequency_penalty'))
            };
    
            fetch('/create-json', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    
        function showForm(formId) {
            const forms = document.querySelectorAll('main');
            forms.forEach(form => form.style.display = 'none');
            document.getElementById(formId).style.display = 'block';
            localStorage.setItem('activeForm', formId);
            const buttons = document.querySelectorAll('.researcher-sidebar-content');
            buttons.forEach(button => button.classList.remove('active-button'));
            document.querySelector(`button[onclick="showForm('${formId}')"]`).classList.add('active-button');
        }
    
        async function listJsonFiles() {
            try {
                const response = await fetch('/list-json-files');
                const files = await response.json();
                files.sort();
                const fileList = document.getElementById('file-list');
                fileList.innerHTML = '';
    
                files.forEach(filename => {
                    const listItem = document.createElement('li');
                    listItem.textContent = filename;
                    listItem.onmouseover = () => showFileContent(filename);
                    listItem.onmouseout = hideFileContent;
                    fileList.appendChild(listItem);
                });
            } catch (error) {
                console.error('Error fetching files:', error);
            }
        }
    
        async function showFileContent(filename) {
            try {
                const response = await fetch(`/get-file-content?name=${filename}`);
                const content = await response.text();
                const popup = document.getElementById('file-content-popup');
                popup.textContent = content;
                popup.style.display = 'block';
            } catch (error) {
                console.error('Error fetching file content:', error);
            }
        }
    
        function hideFileContent() {
            const popup = document.getElementById('file-content-popup');
            popup.style.display = 'none';
        }
    
        async function populateAgentDropdown() {
            try {
                const response = await fetch('/list-json-files');
                const conditions = await response.json();
                const select = document.getElementById('agent');
                select.innerHTML = '';
    
                conditions.forEach(condition => {
                    const option = document.createElement('option');
                    option.value = condition;
                    option.textContent = condition;
                    select.appendChild(option);
                });
            } catch (error) {
                console.error('Error fetching conditions:', error);
            }
        }
    
        async function updatePasswords() {
            const password = document.getElementById('password').value;
            const agent = document.getElementById('agent').value.replace('.json', '');
            const response = await fetch('/update-passwords', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ password, agent })
            });
    
            if (response.ok) {
                alert('Passwords updated successfully');
            } else {
                alert('Failed to update');
            }
        }

        async function listPasswords() {
            try {
                const response = await fetch('/get-passwords');
                const passwords = await response.json();
                passwords.sort((a, b) => a.agent.localeCompare(b.agent));
                const tableBody = document.getElementById('password-table-body');
                tableBody.innerHTML = '';

                for (let item of passwords) {
                    const row = document.createElement('tr');

                    // Build the filename, defaulting to appending .json
                    const filename = `${item.password}.json`;
            
                    // Log the filename to troubleshoot
                    console.log(`Fetching content for: ${filename}`);

                    try {
                        const fileContentResponse = await fetch(`/get-file-content?name=${filename}`);
                
                        // Proceed only if the fetch was successful
                        const fileContent = fileContentResponse.ok ? await fileContentResponse.text() : 'No content';

                        row.innerHTML = `
                            <td>${item.password || 'No password'}</td>
                            <td>${item.agent}</td>
                            <td>${fileContent}</td>
                        `;

                    } catch (error) {
                        console.error('Error fetching file content:', error);
                        row.innerHTML = `
                            <td>${item.password || 'No password'}</td>
                            <td>${item.agent}</td>
                            <td>Error loading content</td>
                        `;
                    }

                    tableBody.appendChild(row);
                }
            } catch (error) {
                console.error('Error fetching passwords:', error);
            }
        }

        function downloadFile(filename) {
            window.location.href = `/download/${filename}`;
        }
        
    </script>
</body>
</html>